.estatico {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.valor {
    display: flex ;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 180px;
    border-radius: 90px;
    font-size: 4rem;
    font-weight: 500;
}

.texto {
    color: #ddd;
    font-size: 1.7rem;
    text-align: center;
    font-weight: 200;
}