
.resposta {
    position: relative;
    display: flex;
    min-width: 500px;
    width: 80%;
    height: 100px;
    margin: 10px;
}

.frente, .verso {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
}

.frente {
    align-items: center;
    border-radius: 12px;
    padding: 15px;
    background-color: #ffff;
    color: #000;
}

.verso> div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-radius: 12px;
}

.certa {
    background-color: #2baa6d ;
}

.errada {
    background-color: #e44a4c;
}

.texto {
    font-size: 1.5rem;
    font-weight: 700;
}

.certa .valor, .errada .valor {
    font-size: 1.5rem;
    
}


.letra {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: 1.3rem;
    font-weight: bold;
    margin-right: 20px;
    color: #fff;
}

.valor {
    font-size: 1.3rem;
    font-weight: bold;
}

.consteudoResposta {
    display: flex;
    flex: 1;
}

